<mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        Roadmap focus
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>Expand</button>
        </mat-menu>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <div class="mat-display-4">{{value | number:'1.1-1'}}{{unit}}</div>
    </mat-card-content>
    <mat-card-footer class="dashboard-card-content">last month</mat-card-footer>
  </mat-card>