<mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        Priorized backlog evolution
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>Expand</button>
          <button mat-menu-item>Remove</button>
        </mat-menu>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <canvas baseChart
              [datasets]="backlogEvolutionChart.data"
              [labels]="backlogEvolutionChart.labels"
              [options]="backlogEvolutionChart.options"
              [legend]="backlogEvolutionChart.legend"
              [chartType]="backlogEvolutionChart.type">
      </canvas>
    </mat-card-content>
    <mat-card-footer class="dashboard-card-content">Backlog estimate on last eight weeks</mat-card-footer>
  </mat-card>