<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="grid-container">
  <div class="container">
      <div fxFlex="calc2Cols">
        <h1 class="mat-h1">Dashboard</h1>
      </div>
      <button mat-icon-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button (click)="clearLocal()">
        <mat-icon>delete</mat-icon>
      </button>
  </div>

  <mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile><app-proposal [data]="proposalTasks"></app-proposal></mat-grid-tile>
    <mat-grid-tile><app-velocity [data]="kanbanTasks" (messageEvent)="receiveVelocity($event)"></app-velocity></mat-grid-tile>
    <mat-grid-tile><app-priorized-estimate [data]="backlogTasks" [velocity]="velocity"></app-priorized-estimate></mat-grid-tile>
    <mat-grid-tile><app-roadmap-focus [data]="kanbanTasks" [velocity]="velocity" [maxVelocity]="teamSize"></app-roadmap-focus></mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="2"><app-priorized-backlog-evolution [data]="backlogTasks" [velocity]="velocity"></app-priorized-backlog-evolution></mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2"><app-development-division [data]="kanbanTasks" [velocity]="velocity" [maxVelocity]="teamSize"></app-development-division></mat-grid-tile>
  </mat-grid-list>
</div>