<mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        Lead time
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>Expand</button>
          <button mat-menu-item>Remove</button>
        </mat-menu>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
        <div class="mat-display-4">{{avg | number:'1.1-1'}}{{unit}}</div>

        <canvas baseChart
        [datasets]="chartData.data"
        [labels]="chartData.labels"
        [options]="chartData.options"
        [legend]="chartData.legend"
        [chartType]="chartData.type"
        height="50"
        >
        </canvas>
    </mat-card-content>
    <mat-card-footer class="dashboard-card-content">How many time spent by phase on last quarter</mat-card-footer>
  </mat-card>