<mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        Development division
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>Expand</button>
          <button mat-menu-item>Remove</button>
        </mat-menu>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
        <canvas baseChart
        [datasets]="developmentDivisionChart.data"
        [labels]="developmentDivisionChart.labels"
        [options]="developmentDivisionChart.options"
        [legend]="developmentDivisionChart.legend"
        [chartType]="developmentDivisionChart.type">
        </canvas>
    </mat-card-content>
    <mat-card-footer class="dashboard-card-content">How many time spent by type last two weeks</mat-card-footer>
  </mat-card>